<!-- <div class="contato">
  <div class="celular">

  </div>
  <div class="email">

  </div>

  <div class="redes-sociais">

  </div>
</div> -->

<!-- background-color: rgba(164, 117, 106, .3); -->

<div class="nav-nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <div class="col-8" style="display: flex;">
        <div style="width: 168px; height: 85px; display: flex; align-items: center;">
          <a class="navbar-brand" href="#" style="color: white;">J&W Echo Resorts</a>
        </div>
        <div class="admin" style="width: 168px; height: 85px;">
            <a class="nav-link " aria-current="page" routerLink="/quarto"  style="color: white;">Area Admin</a>
      </div>
      </div>

     

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col" id="navbarSupportedContent" style="color: white;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home"  style="color: white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="galeria"  style="color: white;">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="reserva"  style="color: white;">Reserva</a>
          </li>
          <li class="nav-item" style=" height: 85px; align-items: center; display: flex;">
            <a class="nav-link" aria-current="page" routerLink="contate-nos"  style="color: white;">Contate-nos</a>
          </li>

          <li class="nav-item" style="background-color: rgb(165, 161, 161); height: 85px; align-items: center; display: flex;" >
            <a class="nav-link" aria-current="page" routerLink="/login"  style="color: white;">Login</a>
          </li>    

        </ul>
      </div>
    </div>
  </nav>
</div>
