<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post" action="https://formspree.io/f/mzbylkbg" >
                <h3>Deixe sua Mensagem</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="Nome" class="form-control" placeholder="Seu Nome *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="E-mail" class="form-control" placeholder="Seu E-mail *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="Telefone" class="form-control" placeholder="DDD-99999-9999 *" value="" required/>
                        </div>
                        <div class="form-group">
                            <input type="submit" action="" name="btnSubmit" class="btnContact" value="Enviar" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="Mensagem" class="form-control" placeholder="Sua Mensagem *" style="width: 100%; height: 150px;" required></textarea>
                        </div>
                    </div>
                </div>
            </form>
  </div>
